*, *::after, *::before {
  box-sizing: border-box;
  /* border: 1px solid navy; */
}

img {
  display: block;
}

input {
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: var(--bg-color);
  color: #fff;
  --react-bg-color: #282c34;
  --bg-color: #2c3e50
}

/* ==============================
    Navbar
   ============================== */

.nav {
  margin: 1em 2em;
  height: 3em;
  background-color: var(--react-bg-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav li {
  list-style: none;
  position: relative;
}

.nav li:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  background-color: #9642b8;
  border-radius: 8px;
  padding: .2em .5em;
}



.nav a {
  height: 100%;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

/* ==============================
    Layouts
   ============================== */

.primary-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 220px)) minmax(1em, 1fr);
}

.list-title,
.list-label,
.list-input,
.list-btn {
  grid-column: 2 / -2;
}

.movie-search-form {
  grid-column: 2 / -2;
  text-align: center;
}

.movie-search-form input {
  width: 75%;
  border: none;
  border-radius: 6px 0 0 6px;
  padding: .75em;
}

.movie-form-btn {
  width: 25%;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: var(--react-bg-color);
  color: white;
  padding: .75em 1.5em;
  cursor: pointer;
}

.movies-list {
  grid-column: 2 / -2;
}

.movie-card {
  display: flex;
  align-items: center;
  margin: 2em auto;
}

/*  Overview button expand  */

.overview {
  --max-lines: 4;
  --line-height: 1.4;
  
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;
}

.overview:has(+ .expand-btn:not(:checked))::before {
  content: '';
  position: absolute;
  height: calc(2em * var(--line-height));
  width: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--bg-color));
}

.movie-card-poster {
  margin-right: 1em;
  border-radius: 8px;
}

.expand-btn {
  appearance: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: .5em 1em;
  cursor: pointer;
}

.expand-btn:hover {
  background-color: white;
  color: var(--bg-color);
}

.expand-btn::before {
  content: "Expand";
}

.expand-btn::checked::before {
  content: "Collapse";
}

.overview:has(+ .expand-btn:checked) {
  max-height: none;
}


